################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/StudyPlatform/appsettings.json
/Backend/StudyPlatform/bin
/Backend/StudyPlatform/.vs
/Backend/StudyPlatform/obj
