#root {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.section-container {
  max-width: 1440px;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 425px) {
  .section-container {
    padding: 0; 
  }

  footer .section-container {
    padding: 1rem;
  }
}